.chat {
  text-align: center
}

form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }

  .flex {
    justify-content: center;
    
      float: left;

  }

  .flex-item + .flex-item {
    margin-left: 10px;
  }

  .btn {
    margin-top: 15px;
    margin-left: 10px;

    background-color: #0066ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }


.Log:hover,
.Sign:hover {
  position: absolute;
  width: 100%;
  
}



